@{
    ViewData["Title"] = "公告頁";
}
<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />

<div class="text-center">
    <div id="dashboard">
        <div id="announcement">
            <div id="announcement-icon"><img src="~/img/announcement.svg" alt=""></div>
            <div id="announcement-word">公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告</div>
        </div>
        <div id="announcement">
            <div id="announcement-icon"><img src="~/img/announcement.svg" alt=""></div>
            <div id="announcement-word">公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告公告</div>
        </div>
    </div>
    <div class="blocks">
        <div class="block">
            <p class="fuction-word">學生基本資料</p>
            <p>學號：</p>
            <p>姓名：</p>
            <p>系所：</p>
        </div>
        <div class="block">
            <p class="fuction-word">雙主修/輔系修讀狀態</p>
            <p>雙主修：</p>
            <p>輔系：</p>
        </div>
        
        
    </div>
</div>

