#announcement {
    display: flex;
    background-color:white;
    padding: 10px;
    margin: 20px;
}

#announcement-icon {
    background-image: url("../img/sound.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    width: 30px;
    margin: 0px 10px 0px 10px;
}

#announcement-word {
    font-weight: bold;
    line-height:20px;
}
.blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    width: 250px;
    height: 200px;
    padding: 30px 0 10px 0;
    box-shadow: 0px 10px 10px -5px gray;
}

p {
    margin:0;
}

.block .fuction-word {
    font-weight: bold;
    font-size: 24px;
    color: var(--brown);
    text-decoration: none;
}
