#announcement {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 20px 10px;
}

#announcement-icon {
    display: flex;
    align-items: center;
    width: 30px;
    margin: 0 20px;
}

#announcement-word {
    display: flex;
    text-align:left;
    font-weight: bold;
    line-height: 20px;
}
.blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    width: 250px;
    height: 200px;
    padding: 30px 0 10px 0;
    margin: 0 10px 0 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-weight: bold;
    margin: 0;
}

.block .fuction-word {
    font-size: 24px;
    color: var(--brown);
    text-decoration: none;
}

@media all and (max-width: 800px) {
    #announcement {
        background-color: var(--lightorange);
    }

    #announcement-icon {
        background-color: white;
        border-radius: 99px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: -moz-fit-content;
        width: fit-content;
        padding: 10px;
    }

    #announcement-word {
        background-color: white;
        border-radius: 28px;
        padding: 16px;
        height: 100%;
    }

    .blocks {
        flex-direction: column;
    }

    .block {
        width: 200px;
        height: 150px;
        margin: 0 0 20px 0;
    }

    .block .fuction-word {
        font-size: 20px;
    }
}